Guide for ugrs in linjun group/Guide for ugrs in linjun group.aux
Guide for ugrs in linjun group/Guide for ugrs in linjun group.log
Guide for ugrs in linjun group/Guide for ugrs in linjun group.pdf
Guide for ugrs in linjun group/Guide for ugrs in linjun group.synctex.gz
Guide for ugrs in linjun group/Guide for ugrs in linjun group.toc
Guide for ugrs in linjun group/Guide for ugrs in linjun group.xdv
Guide for ugrs in linjun group/Guide for ugrs in linjun group.log.orig
Guide for ugrs in linjun group/Guide for ugrs in linjun group.pdf.orig
Guide for ugrs in linjun group/Guide for ugrs in linjun group.bbl
Guide for ugrs in linjun group/Guide for ugrs in linjun group.blg
Guide for ugrs in linjun group/Guide for ugrs in linjun group.synctex(busy)
Guide for ugrs in linjun group/Guide for ugrs in linjun group.aux
Guide for ugrs in linjun group/Guide for ugrs in linjun group.log
.vscode/launch.json
.vscode/ipch/78f21d485a9d1fc4/mmap_address.bin
.vscode/ipch/78f21d485a9d1fc4/test.ipch
